@model GabinetIP.Models.ViewModel.EventData
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head runat="server">
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.12.4.min.js")"></script>
    <link href="@Url.Content("~/Media/layout.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<style>
        p, body, td {
            font-family: Tahoma, Arial, Sans-Serif;
            font-size: 10pt;
        }
    </style>*@
    <title></title>
</head>
<body style="padding:20px">
    <form id="f" method="post" action="@Url.Action("New")">

        <h1>Nowa Wizyta</h1>

        <div> Wybór lekarza</div>
        <div>
                        @Html.DropDownListFor(o => o.lekarze.SelectedDoctorID,
                       new SelectList(Model.lekarze.ListaLekarzy, "SYSUserID", ("LastName")),
                       "", new {@class = "form-control" })
        </div>
        @*<div>Text</div>
        <div>@Html.TextBox("Text")</div>*@

        <div>Początek wizyty</div>
        <div>@Html.TextBox("Start", null, new { @class = "form-control" })</div>

        <div>Koniec wizyty</div>
        <div>@Html.TextBox("End", null, new { @class = "form-control" })</div>

        <div class="space">
            <input type="submit" value="Zatwierdź" id="ButtonSave" class="btn btn-success"/>
            <a href="javascript:close()" class="btn btn-default">Zrezygnuj</a>
        </div>
        <div class="space">&nbsp;</div>
    </form>

    <script type="text/javascript">
        function close(result) {
            if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
                parent.DayPilot.ModalStatic.close(result);
            }
        }

        $("#f").submit(function () {
            var f = $("#f");
            $.post(f.action, f.serialize(), function (result) {
                close(eval(result));
            });
            return false;
        });

        $(document).ready(function () {
            $("#Text").focus();
        });

    </script>
</body>
</html>
