@model GabinetIP.Models.ViewModel.EventDataView

@{
    ViewBag.Title = "Zaplanowane wizyty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zaplanowane wizyty</h2>


<div>
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>ID </th>
                <th>Pacjent</th>
                <th>Lekarz</th>
                <th>Data wizyty</th>
                <th>Godzina wizyty</th>
            </tr>
        </thead>
        <tbody>
            @{int a = 0;}
            @foreach (var i in Model.Wizyty)
            {
                <tr>
                    <td> @(++a)</td>
                    <td> @Html.DisplayFor(m => i.Pacjent)</td>
                    <td> @Html.DisplayFor(m => i.Lekarz)</td>
                    <td> @Html.Name(i.Start.ToShortDateString())</td>
                    <td> @Html.Name(i.Start.ToShortTimeString())</td>
                </tr>
            }
        </tbody>
    </table>
</div>